{% extends 'adminbase.html' %}
{% block main %}


{% if user.is_authenticated and rowv %}
            <p class="navbar-text pull-right">Welcome, {{ user.username }}</p>
            <form class="navbar-form navbar-right" action="/adlogout/" method="post">
              {% csrf_token %}
              <button type="submit"  style="float:right" class="btn btn-default">Logout</button>
            </form>

          {% else %}
          <div class="jumbotron" style="padding-top:100px;margin-top:150px;margin-left:200px">
          <h3>Admin Login</h3><p></p>
          <form  class="form-horizontal" action="/ad/" method="post">
            {% csrf_token %}

                <div class="form-group" >
                  <label for="username" class="col-sm-8 col-form-label">Username:&nbsp;<sup style="color:red">*</sup></label>
                  <div class="col-sm-10">
                 <input type="text" class="form-control" name="username">
               </div></div>
               <div class="form-group" >
                 <label for="password" class="col-sm-8 col-form-label">Password:&nbsp;<sup style="color:red">*</sup></label>
                 <div class="col-sm-10">
                <input type="password" class="form-control" name="password">
                <button type="submit" class="btn btn-default">Login</button>
                {% if invalid %}
                <p style="color:red">Incorrect details<p>
                {%endif%}
              </div></div></form>

{% endif %}
{% endblock %}
{% block content %}
{% if user.is_authenticated and rowv%}

  <div class="sidenav" style="margin-top:50px">

    <a href="/adduser/">Add new user</a>
    <a href="/adchange_password/">Change Password</a>
    <a href="/adprofileview/">View Profile of users</a>
    <a href="/tenantview/">View Tenant Details</a>
    <a href="/addmaintenance/">Add maintenance info</a>
    <a href="/clubcancel/">Cancel club Memberships</a>
    <a href="/club_events/">Add Club Events</a>
    <a href="/delevents/">View and Delete Club Events</a>
    <a href="/adviewcomplaints/">View and update status of Complaints</a>
    <a href="/adnotification/">Add notifications</a>
    <a href="/deletenotification/">Delete and view notifications</a>
    <a href="/depmanager/">Update and view department details</a>



  </div>
  <div class="main">
    <div class="container">
    <div class="jumbotron" style="padding-left:100px;margin-top:300px">
      {% if Invaliderror %}
      <p>Sorry,nothing to display</p>
      {% elif success %}
      <span class="glyphicon glyphicon-ok" style="color:green"> Password successfully changed</span>
      {% elif nosuccess %}
      <p style="color:red">Sorry your request did not succeed.Please try again</p>
      {% else %}
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save changes</button>
      </form>
      {%endif%}


</div>

{% endif %}
{% endblock %}
