{% extends 'newbase.html' %}
{% block main %}
<li><a href="#section1">Home</a></li>
    <li><a href="#section2">About Us</a></li>
    <li><a href="#section3">Facilities</a></li>
    <li><a href="#section4">Contact Us</a></li>
{% if not invalid %}
            <p class="navbar-text pull-right">Welcome, {{ user.username }}</p>
            <form class="navbar-form navbar-right" action="/logoutuser/" method="post">
              {% csrf_token %}
              <button type="submit" style="float:right" class="btn btn-default">Logout</button>
            </form>
          {% else %}
            <p class="navbar-text pull-right" style="color:white">Please Log in</p>

<form class="navbar-form navbar-right" action="/loginuser/" method="post">
  {% csrf_token %}
      <div class="form-group" >
        <span style="color:white">Username: </span><input type="text" class="form-control" name="username">
      </div>
      <div class="form-group">
        <span style="color:white">Password: </span><input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
    {% endif %}
    {% endblock %}

{% block content %}

<div class="sidenav">

  <a href="/view/">Profile</a>
  <a href="/change_password/">Change Password</a>
  <a href="/profile/">Edit Details</a>
  <a href="/clubs">Clubs</a>
  <a href="/viewcomplaints/">Track your Complaints</a>
  <a href="/complaintsregister/">Register Your Complaint</a>
  <a href="/Maintenance">Maintainence</a>
  <a href="/notifications/">Notifications</a>
  <a href="/tenant/">Add and View Tenant Details(if applicable)</a>
  <a href="/depview/">View Department Details</a>
  <a href="/deltenant/">View/Delete Tenant Details</a>

</div>

<div class="main" style="padding-left:100px">
  <div id="section1" class="container-fluid">
    <div class="container">
      <img src="/static/headpic4.png" style="margin-top:60px;">
      <img src="/static/sun.png" style="margin-top:60px;">

    </div>


  </div>



  </div>
  <div id="section2" class="container-fluid"style="padding-left:100px">
    <div class="card">
    <div class="header">
      <h1>About Us</h1>
    </div>

    <div class="cardcontainer" style="color:white;text-align:left;padding-left:50px;padding-right:50px;background-color: #ff8f00">

      <p style="font-size:20px;line-height: 200%;">Luxury is a relative term but we decided to change it into an absolute.By creating a lifestyle that just didn't answer the highest aspiration,but created a new level of aspiration in everyone who experienced it. Aesthetics that flew from architecture to interiors in seamless energy.Design that went beyond style and embraced utility in elegant motion.Everyone speaks of re-defining luxury.We decided to give form and shape to that definition.</p>
      <br></br>
      <p style="font-size:20px;line-height: 200%;">The apartments are specifically designed meeting the requirements of every segment of customers.The project is lavishly landscaped with specific gardens for meditation,barbeque, yoga and sports. All in all, it fulfils all your desires of living a lavish lifesyle</p>
    </div>
    </div>
    </div>
    <div id="section3" class="container-fluid" style="padding-left:200px">
    <div class="container">


      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>

        </ol>


        <div class="carousel-inner">

          <div class="item active">
            <img src="/static/room.jpg"  style="width:100%;">

          </div>

          <div class="item">
            <img src="/static/photo2.jpg" style="width:100%;">

          </div>
          <div class="item">
            <img src="/static/photo3.jpg" style="width:100%;">

          </div>



        </div>


        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div></div></div>
  <div id="section4" class="container-fluid" style="padding-left:300px">
    <h2 style="text-align:center">Facilities</h2>
    <br></br>
    <div class="newcard" style="float:left">
      <img src="/static/flat.jpg"  style="height:200px;width:200px">
      <div class="newcontainer">
        <p>2BHK and 3BHK flats offered</p>
        <p></p>
      </div>
    </div>
    <div class="newcard" style="float:left">
      <img src="/static/parking.jpg"  style="height:200px;width:200px">
      <div class="newcontainer">
        <p>Sufficient parking space covered and open</p>
        <p></p>
      </div>
    </div>
    <div class="newcard" style="float:left">
      <img src="/static/water.jpg"  style="height:200px;width:200px">
      <div class="newcontainer">
        <p>Round the clock water supply</p>
        <p></p>
      </div>
    </div>
    <div class="newcard" style="float:left">
      <img src="/static/lift.jpg"  style="height:200px;width:200px">
      <div class="newcontainer">
        <p>Passenger Lift</p>
        <p></p>
      </div>
    </div>

    <div class="newcard" style="float:left">
    <img src="/static/gym.jpg"  style="height:200px;width:200px">
      <div class="newcontainer">
        <p>Well equipped Gymnasium</p>
        <p></p>
      </div>
    </div>
    <div class="newcard" style="float:left">
      <img src="/static/intercom.png"  style="height:200px;width:200px">
      <div class="newcontainer">
        <p>Intercom facility</p>
        <p></p>
      </div>
    </div>
    <div class="newcard" style="float:left">
      <img src="/static/security.jpg"  style="height:200px;width:200px">
      <div class="newcontainer">
        <p>24 Hrs Security</p>
        <p></p>
      </div>
    </div>


  </div>
  <div id="section5" class="container-fluid" style="padding-left:100px">
    <div class="card" style="height:500px">
    <div class="header">
      <h1>Our Location</h1>
    </div>
    <div class="cardcontainer" style="padding-right:100px">
    <div id="googleMap" style="width:400px;height:400px;float:left"></div>
    <div class="contact"style="height:400px;text-align:left;float:right;">
      <span class="glyphicon glyphicon-map-marker" style="color:red"></span><p style="font-size:16px">Divya Dham</p><p style="font-size:16px">Raja Shiv Chandra Banerjee Rd,</p> <p style="font-size:16px">Adampur, Bhagalpur</p><p style="font-size:16px">Bihar 812001</p>
      <br></br><p>Registered Office: Flat No.-G:002,Rajlakshmi Apartments,</p><p>C. C. Mukherjee Road </p><p>Adampur BHAGALPUR </p><p>Bihar INDIA 812001</p>
       <p></p><span class="glyphicon glyphicon-envelope"> saivinayakhomes@gmail.com</span><p></p>
       <span class="glyphicon glyphicon-phone-alt"> 0641-2421064,9430249107</span>
    </div>
  </div>
  </div>
  </div>

    <script>
    function myMap() {
    var mapProp= {
        center:new google.maps.LatLng(25.258020, 86.985710),
        zoom:19,
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUY3tRlfN9aszLfn86Aqqpa5Sm7htWpQ4&callback=myMap"></script>






</div>



{% endblock %}
